html,body{
    height: 100%;
}

#help{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    min-width: 50%;
    height: 100%;
    display: table;
    margin: -0.25em 25%; /*Hack to keep border-radius simpler*/
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
#help-content{
    display: table-cell;
    vertical-align: middle;
}

#help ul{
    list-style-type: none;
    margin: 0;
    color: #555;
    font-size: 50%;
    vertical-align: middle;
    padding: 3%;
    margin: 0 auto;
    border-radius: .25em;
    box-shadow: 0 0 0 1px #888, 0 0 1.5em #666;
    background: white;
    background: rgba(255,255,255,.95);
}
    #help ul code{
        color: #fff;
        font-size: .75em;
        line-height: 1.5em;
        display: inline-block;
        text-align: center;
        background: #444;
        border-radius: .25em;
        padding: 0 .25em;
        min-width: 1em;
        height: 1.5em;
    }

.help-hidden{
    opacity: 0 !important;
}